# Compiled Things
*.o

# Executeables
*.exe

# Outputs and ish
*.txt
*.swp
*.avi
*~
*.mat
*.png
*.jpg
*.png
*.fig
*.out
*.OU
*.ER

# Directories
Outputs/
Outputs/*
data/
data/*
dataInf/
sandbox
steadyfiles/
figs/
oe/
runfiles/

# Params files
initParams.m
initPaperResults.m

# keep track of important data
!paperParamInput/hopData4.mat
!paperParamInput/hopData12.mat
!paperParamInput/hopData40.mat
!paperParamInput/hopData120.mat
!paperParamInput/gorlichData.mat
!paperParamInput/gorlichData2.mat
